
<h1 mat-dialog-title style="text-align: center;">Subir a GitHub</h1>
<div mat-dialog-content>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Nombre del proyecto</mat-label>
    <input matInput formControlName="projectName" required>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Descripción</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <mat-checkbox formControlName="isPrivate">Privado</mat-checkbox>

</form>
</div>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.invalid">
    Guardar
  </button>
</mat-dialog-actions>

