<mat-card>
  <mat-card-header>
    <mat-card-title class="title-card-main" style="padding: 4px 12px; width: 100%;">
      <div class="header-flex" style="width: 100%;">
        <span>Listado de proyectos</span>
        <button mat-button (click)="newProject()" mat-raised-button color="primary">
          Crear nuevo proyecto
        </button>
      </div>
    </mat-card-title>
  </mat-card-header>
    <mat-card-content>
        <div class="layout-data">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

              <!-- Nombre -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15%;">Nombre</th>
                <td mat-cell *matCellDef="let row">
                  <a>{{row.name}}</a>
                  </td>
              </ng-container>

              <!-- Descripción (doble tamaño, truncado) -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30%;">Descripción</th>
                <td mat-cell *matCellDef="let row">
                  <span class="truncate-description">{{row.description}}</span>
                </td>
              </ng-container>

              <!-- Estado -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;">Estado</th>
                <td mat-cell *matCellDef="let row">
                  <mat-chip-set>
                    <mat-chip>{{row.status}}</mat-chip>
                  </mat-chip-set>
                </td>
              </ng-container>

              <!-- Ruta -->
              <ng-container matColumnDef="basePath">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;">Ruta</th>
                <td mat-cell *matCellDef="let row">{{row.basePath}}</td>
              </ng-container>

              <!-- Puerto -->
              <ng-container matColumnDef="port">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 7%;">Puerto</th>
                <td mat-cell *matCellDef="let row">{{row.port}}</td>
              </ng-container>

              <!-- Privado -->
              <ng-container matColumnDef="isPrivate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 7%;">Privado</th>
                <td mat-cell *matCellDef="let row">{{row.isPrivate ? 'Sí' : 'No'}}</td>
              </ng-container>

              <!-- Fecha creación -->
              <ng-container matColumnDef="creationDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;">Fecha creación</th>
                <td mat-cell *matCellDef="let row">{{row.creationDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
              </ng-container>

              <!-- Fecha actualización -->
              <ng-container matColumnDef="updateDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;">Fecha actualización</th>
                <td mat-cell *matCellDef="let row">{{row.updateDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
              </ng-container>

              <!-- Acciones -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef style="width: 11%;">Acciones</th>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button (click)="updateProject(row)" color="primary">
                    <mat-icon color="primary">edit</mat-icon>
                  </button>
                  <button mat-icon-button (click)="deleteProject(row)" >
                    <mat-icon color="accent">delete</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>
      </mat-card-content>
</mat-card>
