<mat-card>
  <mat-card-title class="project-title" style="display: flex; align-items: center; justify-content: space-between;">
    <span style="padding-left: 20px">{{ editMode ? 'Editar Entidad' : 'Nueva Entidad' }}</span>
    <span style="display: flex; gap: 8px;">
      <button mat-raised-button class="bg-light-primary" (click)="saveEntity()">Guardar</button>
      <button mat-raised-button class="bg-light-error" (click)="cancel()">Regresar</button>
    </span>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="entityForm">
      <!-- Agrupación en una sola línea -->
      <div style="display: flex; gap: 16px;">
        <mat-form-field appearance="fill" style="width: 20%;">
          <mat-label>Nombre de la Entidad</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <div formGroupName="entity" style="display: flex; flex:2; gap: 16px;">
          <mat-form-field appearance="fill" style="flex:1;">
            <mat-label>Nombre de la Tabla</mat-label>
            <input matInput formControlName="tableName">
          </mat-form-field>

          <mat-checkbox (change)="isSuperClass = $event.checked">
            ¿Super clase?
          </mat-checkbox>

          <ng-container *ngIf="!isSuperClass">
            <mat-form-field appearance="fill" style="flex:1;" matTooltip="Selecciona la entidad padre para la herencia">
              <mat-label>Entidad padre</mat-label>
              <mat-select formControlName="extendsClass">
                <mat-option value="">Ninguna</mat-option>
                <mat-option *ngFor="let entity of entities" [value]="entity.name">
                  {{ entity.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div formGroupName="options">
              <div formGroupName="discriminator">
                <mat-form-field appearance="fill" style="flex:1;"
                  matTooltip="Valor del discriminador para esta entidad hija (@DiscriminatorValue)">
                  <mat-label>Discriminator Value</mat-label>
                  <input matInput formControlName="value" placeholder="Ej: EMPLEADO"
                    [disabled]="disableDiscriminatorValue">
                </mat-form-field>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <div formGroupName="entity">
        <div formGroupName="options">
          <!-- Campos de herencia solo si es superclase -->
          <ng-container *ngIf="isSuperClass">
            <div style="display: flex; gap: 16px; align-items: flex-end;">
              <div style="flex: 1;">
                <h5>Herencia</h5>
                <mat-form-field appearance="fill" style="width: 100%;"
                  matTooltip="Define la estrategia de herencia JPA para entidades">
                  <mat-label>Estrategia de Herencia</mat-label>
                  <mat-select formControlName="inheritanceStrategy">
                    <mat-option value="">Ninguna</mat-option>
                    <mat-option value="SINGLE_TABLE">SINGLE_TABLE</mat-option>
                    <mat-option value="JOINED">JOINED</mat-option>
                    <mat-option value="TABLE_PER_CLASS">TABLE_PER_CLASS</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div style="flex: 1;">
                <h5>Discriminador</h5>
                <div formGroupName="discriminator">
                  <div formGroupName="column">
                    <mat-form-field appearance="fill" style="width: 100%;"
                      matTooltip="Nombre de la columna discriminadora para herencia JPA">
                      <mat-label>Nombre columna</mat-label>
                      <input matInput formControlName="name">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <!-- Unique Constraints -->
          <label matTooltip="Selecciona uno o más campos de la entidad para definir una restricción única en la tabla">
            Restricciones Únicas
          </label>
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Campos únicos</mat-label>
            <mat-select formControlName="uniqueConstraints" multiple>
              <mat-option *ngFor="let colName of columnNames" [value]="colName">
                {{ colName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <h5>Secuencia</h5>
          <div formGroupName="sequence" style="display: flex; gap: 16px; align-items: center;">
            <mat-checkbox formControlName="create"
              matTooltip="Si está activo, se creará una secuencia para la generación de IDs">
              Create
            </mat-checkbox>
            <mat-form-field appearance="fill" style="flex:1;"
              matTooltip="Nombre de la secuencia para la generación de IDs">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="name" [disabled]="!isSequenceEnabled">

            </mat-form-field>
            <mat-form-field appearance="fill" style="flex:1;"
              matTooltip="Incremento de la secuencia (valor de incremento para cada nuevo ID)">
              <mat-label>Incremento</mat-label>
              <input matInput type="number" formControlName="increment" [disabled]="!isSequenceEnabled">

            </mat-form-field>
          </div>
        </div>

        <h4>Columnas</h4>
        <mat-accordion multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Columnas
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-button color="primary" (click)="openRelationDialog('column')" type="button">
              Agregar columna
            </button>
            <table mat-table [dataSource]="columnItems" class="mat-elevation-z1" style="width: 100%;">
              <!-- Nombre -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let col">{{ col.property.name }}</td>
              </ng-container>
              <!-- Nombre Tabla -->
              <ng-container matColumnDef="tableName">
                <th mat-header-cell *matHeaderCellDef>Nombre Tabla</th>
                <td mat-cell *matCellDef="let col">{{ col.column.name }}</td>
              </ng-container>
              <!-- Tipo -->
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Tipo</th>
                <td mat-cell *matCellDef="let col">{{ col.property.type }}</td>
              </ng-container>
              <!-- Visibilidad -->
              <ng-container matColumnDef="visibility">
                <th mat-header-cell *matHeaderCellDef>Visibilidad</th>
                <td mat-cell *matCellDef="let col">{{ col.property.visibility }}</td>
              </ng-container>
              <!-- Adicional -->
              <ng-container matColumnDef="adicional">
                <th mat-header-cell *matHeaderCellDef>Adicional</th>
                <td mat-cell *matCellDef="let col">
                  <ng-container [ngSwitch]="col.property.type">
                    <!-- STRING: Longitud -->
                    <span *ngSwitchCase="'STRING'">
                      Longitud: {{ col.column.length || '-' }}
                    </span>
                    <!-- BIG_DECIMAL: Precisión y Escala -->
                    <span *ngSwitchCase="'BIG_DECIMAL'">
                      Precisión: {{ col.column.precision || '-' }}, Escala: {{ col.column.scale || '-' }}
                    </span>
                    <!-- Otros tipos: vacío -->
                    <span *ngSwitchDefault>-</span>
                  </ng-container>
                </td>
              </ng-container>
              <!-- Acciones -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let col; let i = index">
                  <button mat-icon-button color="warn" (click)="removeColumnByType(i, 'column')" type="button">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="['name','tableName','type','visibility','adicional','actions']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['name','tableName','type','visibility','adicional','actions'];">
              </tr>
            </table>

          </mat-expansion-panel>

          <!-- Acordeón de relaciones -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Relaciones
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-button color="primary" (click)="openRelationDialog('relation')" type="button">Agregar
              relación</button>
            <table mat-table [dataSource]="relationItems" class="mat-elevation-z1" style="width: 100%;">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let rel">{{ rel.property.name }}</td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Tipo Relación</th>
                <td mat-cell *matCellDef="let rel">{{ rel.relation.type }}</td>
              </ng-container>
              <ng-container matColumnDef="target">
                <th mat-header-cell *matHeaderCellDef>Entidad destino</th>
                <td mat-cell *matCellDef="let rel">{{ rel.relation.targetEntity }}</td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let rel; let i = index">
                  <button mat-icon-button color="warn" (click)="removeColumnByType(i, 'relation')" type="button">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="relationDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: relationDisplayedColumns;"></tr>
            </table>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </form>
  </mat-card-content>
</mat-card>
